#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
}

#message {
    min-height: 24px;
    transition: opacity 0.3s;
}

#turn {
    min-height: 24px;
    transition: opacity 0.3s;
}

/* .cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
} */

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* damier */
.cell.light {
    background-color: #fc9;
}

.cell.dark {
    background-color: #d92;
}

/* disques */
.piece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    border: 1px solid black;
}
