/* Light mode */
body[data-theme="light"] {
    --page-bg: #eee;
    --default-color: black;

    --board-shadow: rgba(0, 0, 0, 0.2);
    --board-border: rgb(85, 50, 25, 1);

    --cell-light: #f0d9b5;
    --cell-dark: #b58863;

    --last-move-light: #c6d26b;
    --last-move-dark: #a9a23b;

    --green-marked-cell: rgba(119, 255, 61, 0.5);
    --red-marked-cell: rgba(255, 61, 61, 0.5);
    --blue-marked-cell: rgba(0, 27, 90, 0.5);
    --threat-marked-cell: rgba(255, 0, 0, 0.8);

    --win-glow: rgba(255, 0, 0, 0.8);

    --stone-black-light: #555;
    --stone-black-dark: #000;

    --stone-white-light: #fff;
    --stone-white-dark: #ccc;
    --stone-white-border: #999;

    --stone-shadow-dark: rgba(0, 0, 0, 0.4);
    --stone-shadow-light: rgba(255, 255, 255, 0.2);

    --move-number-on-black: #fff;
    --move-number-on-white: #000;
    --move-number-shadow-dark: rgba(0, 0, 0, 0.8);
    --move-number-shadow-light: rgba(128, 128, 128, 0.8);

    --morpion-piece: #222;
    --morpion-win: #d32f2f;

    --panel-bg: white;
    --panel-shadow: rgba(0, 0, 0, 0.2);

    --bot-label-text: #8a4f22;
    --bot-label-bg: #f0d9b5;
    --bot-label-border: #b58863;

    --low-time: #d32f2f;
    --player-active-outline: #b58863;

    --button-bg: white;
    --button-bg-hover: #f3f3f3;
    --button-border: grey;
    --button-shadow: rgba(0, 0, 0, 0.2);

    --slider-accent: #b58863;
    --editor-board-border: rgba(255, 0, 0, 0.9);
    --editor-cell-outline: rgba(0, 0, 0, 0.3);
}

/* Dark mode */
body[data-theme="dark"] {
    --page-bg: #222;
    --default-color: #ddd;

    --board-shadow: rgba(128, 128, 128, 0.5);
    --board-border: rgb(0, 0, 0, 0);

    --cell-light: #4a4a4a;
    --cell-dark: #2b2b2b;

    --last-move-light: #5c6f2f;
    --last-move-dark: #4a5a26;

    --green-marked-cell: rgba(36, 128, 34, 0.5);
    --red-marked-cell: rgba(162, 36, 34, 0.5);
    --blue-marked-cell: rgba(17, 36, 81, 0.5);
    --threat-marked-cell: rgba(192, 0, 0, 0.8);

    --win-glow: #ad2929;

    --stone-black-light: #333;
    --stone-black-dark: #000;

    --stone-white-light: #ddd;
    --stone-white-dark: #999;
    --stone-white-border: #777;

    --stone-shadow-dark: rgba(0, 0, 0, 0.4);
    --stone-shadow-light: rgba(255, 255, 255, 0.2);

    --move-number-on-black: #fff;
    --move-number-on-white: #000;
    --move-number-shadow-dark: rgba(0, 0, 0, 0.8);
    --move-number-shadow-light: rgba(128, 128, 128, 0.8);

    --morpion-piece: #ddd;
    --morpion-win: #ad2929;

    --panel-bg: #333;
    --panel-shadow: rgba(128, 128, 128, 0.5);

    --bot-label-text: #aaa;
    --bot-label-bg: #555;
    --bot-label-border: #777;

    --low-time: #ad2929;
    --player-active-outline: #777;

    --button-bg: #555;
    --button-bg-hover: #666;
    --button-border: grey;
    --button-shadow: rgba(255, 255, 255, 0.2);

    --slider-accent: #aaa;
    --editor-board-border: rgba(173, 41, 41, 0.9);
    --editor-cell-outline: rgba(255, 255, 255, 0.3);
}

/* Blue mode */
body[data-theme="blue"] {
    --page-bg: #eef;
    --default-color: black;

    --board-shadow: rgba(0, 0, 0, 0.2);
    --board-border: rgb(25, 50, 85, 1);

    --cell-light: #fffef3;
    --cell-dark: #7ca2be;

    --last-move-light: #c9f0bd;
    --last-move-dark: #80b861;

    --green-marked-cell: rgba(75, 255, 48, 0.5);
    --red-marked-cell: rgba(255, 79, 50, 0.7);
    --blue-marked-cell: rgba(35, 46, 255, 0.7);
    --threat-marked-cell: rgba(255, 0, 0, 0.8);

    --win-glow: rgba(255, 0, 0, 0.8);

    --stone-black-light: #333;
    --stone-black-dark: #000;

    --stone-white-light: #eef;
    --stone-white-dark: #bbb;
    --stone-white-border: #999;

    --stone-shadow-dark: rgba(0, 0, 0, 0.4);
    --stone-shadow-light: rgba(255, 255, 255, 0.2);

    --move-number-on-black: #fff;
    --move-number-on-white: #000;
    --move-number-shadow-dark: rgba(0, 0, 0, 0.8);
    --move-number-shadow-light: rgba(128, 128, 128, 0.8);

    --morpion-piece: #111;
    --morpion-win: #d32f2f;

    --panel-bg: #7ca2be;
    --panel-shadow: rgba(0, 0, 0, 0.2);

    --bot-label-text: #000;
    --bot-label-bg: #f6cb9a;
    --bot-label-border: #000;

    --low-time: #d32f2f;
    --player-active-outline: #193255;

    --button-bg: #f6cb9a;
    --button-bg-hover: #eca351;
    --button-border: grey;
    --button-shadow: rgba(0, 0, 0, 0.2);

    --slider-accent: #f6cb9a;
    --editor-board-border: rgba(255, 0, 0, 0.9);
    --editor-cell-outline: rgba(25, 50, 85, 0.5);
}

/* Green mode */
body[data-theme="green"] {
    --page-bg: rgb(143, 152, 143);
    --default-color: black;

    --board-shadow: rgba(0, 0, 0, 0.2);
    --board-border: rgb(18, 62, 36);

    --cell-light: #fff3fe;
    --cell-dark: #3f7a62;

    --last-move-light: #c9f0bd;
    --last-move-dark: #80b861;

    --green-marked-cell: rgba(89, 233, 0, 0.822);
    --red-marked-cell: rgba(208, 22, 22, 0.5);
    --blue-marked-cell: rgba(9, 15, 121, 0.5);
    --threat-marked-cell: rgba(255, 0, 0, 0.8);

    --win-glow: rgba(255, 0, 0, 0.8);

    --stone-black-light: #333;
    --stone-black-dark: #000;

    --stone-white-light: #efe;
    --stone-white-dark: #bbb;
    --stone-white-border: #999;

    --stone-shadow-dark: rgba(0, 0, 0, 0.4);
    --stone-shadow-light: rgba(255, 255, 255, 0.2);

    --move-number-on-black: #fff;
    --move-number-on-white: #000;
    --move-number-shadow-dark: rgba(0, 0, 0, 0.8);
    --move-number-shadow-light: rgba(128, 128, 128, 0.8);

    --morpion-piece: #111;
    --morpion-win: #d32f2f;

    --panel-bg: #7cbea2;
    --panel-shadow: rgba(0, 0, 0, 0.2);

    --bot-label-text: #000;
    --bot-label-bg: #dcced5;
    --bot-label-border: #000;

    --low-time: #d32f2f;
    --player-active-outline: #0d2e12;

    --button-bg: #dcced5;
    --button-bg-hover: #fff6fb;
    --button-border: grey;
    --button-shadow: rgba(0, 0, 0, 0.2);

    --slider-accent: #dcced5;
    --editor-board-border: rgba(255, 0, 0, 0.9);
    --editor-cell-outline: rgba(25, 85, 50, 0.5);
}
